api.autobar.ovh

request_header -X-Internal ""

handle_path /currency/* {
  reverse_proxy http://currencyservice
}

handle_path /auth/* {
  reverse_proxy http://authservice
}

handle_path /realtime/* {
  
  reverse_proxy http://realtimeservice {
    flush_interval -1

    header_up Content-Type "text/event-stream"
    header_up Connection "keep-alive"
    header_up Cache-Control "no-cache"
    header_up X-Accel-Buffering "no"
  }
}

handle_path /wallet/* {
  reverse_proxy http://walletservice
}

handle_path /module/* {
  reverse_proxy http://moduleservice
}

