api.autobar.ovh

header X-Internal ""

handle_path /currency/* {
  reverse_proxy http://currencyservice
}

handle_path /auth/* {
  reverse_proxy http://authservice
}

handle_path /realtime/* {
  header Content-Type "text/event-stream"
  header Connection "keep-alive"
  header Cache-Control "no-cache"
  header X-Accel-Buffering "no"
  
  reverse_proxy http://realtimeservice
}

handle_path /wallet/* {
  reverse_proxy http://walletservice
}

handle_path /module/* {
  reverse_proxy http://moduleservice
}

