services:
  redis:
    image: "redis:alpine"

  currencyservice:
    env_file:
      # specify DATABASE_URL
      # specify EXCHANGE_RATE_API_KEY
      - .env/currency.env
      - .env/common.env
    environment:
      - PORT=80
      - PAST_RATE_RETENTION_SECONDS=172800
    build:
      context: ./currency
      args:
        COMMIT_SHA: "currency-no-commit"
        VERSION: "0.0.0-test"

  authservice:
    env_file:
      # specify DATABASE_URL
      - .env/auth.env
      - .env/common.env
    environment:
      - LOGGER_ENVIRONMENT=development
      - PORT=80
    build:
      context: ./auth
      args:
        COMMIT_SHA: "auth-no-commit"
        VERSION: "0.0.0-test"

  realtimeservice:
    env_file:
      # specify AMQP_URL
      - .env/realtime.env
      - .env/common.env
    environment:
      - PORT=80
      - SSE_HEARTBEAT_INTERVAL_SECONDS=5
      - AUTH_SERVICE_URL=http://authservice
      - REDIS_URL=redis://redis:6379
      - SERVICE_BASEPATH=/realtime
    build:
      context: ./realtime
      args:
        COMMIT_SHA: "realtime-no-commit"
        VERSION: "0.0.0-test"
    depends_on:
      - redis

  walletservice:
    env_file:
      # specify DATABASE_URL
      - .env/wallet.env
      - .env/common.env
    environment:
      - PORT=80
      - CURRENCY_SERVICE_URL=http://currencyservice
      - REDIS_URL=redis://redis:6379
    build:
      context: ./wallet
      args:
        COMMIT_SHA: "wallet-no-commit"
        VERSION: "0.0.0-test"
    depends_on:
      - redis

  moduleservice:
    env_file:
      # specify DATABASE_URL
      # specify AMQP_URL
      - .env/module.env
      - .env/common.env
    environment:
      - PORT=80
      - AUTH_SERVICE_URL=http://authservice
      - REALTIME_SERVICE_URL=http://realtimeservice
      - MODULE_REPORT_TIMEOUT_SECONDS=10
      - REDIS_URL=redis://redis:6379
    build:
      context: ./module
      args:
        COMMIT_SHA: "module-no-commit"
        VERSION: "0.0.0-test"

  productservice:
    env_file:
      # specify DATABASE_URL
      # specify MEILI_URL
      # specify MEILI_API_KEY
      - .env/product.env
      - .env/common.env
    environment:
      - PORT=80
      - REDIS_URL=redis://redis:6379
    build:
      context: ./product
      args:
        COMMIT_SHA: "product-no-commit"
        VERSION: "0.0.0-test"

  userservice:
    env_file:
      # specify DATABASE_URL
      - .env/user.env
      - .env/common.env
    environment:
      - PORT=80
      - REDIS_URL=redis://redis:6379
      - AUTH_SERVICE_URL=http://authservice
      - WALLET_SERVICE_URL=http://walletservice
      - EMAIL_SERVICE_URL=http://emailservice
      - EMAILTEMPLATE_SERVICE_URL=http://emailtemplateservice
    build:
      context: ./user
      args:
        COMMIT_SHA: "user-no-commit"
        VERSION: "0.0.0-test"

  emailtemplateservice:
    env_file:
      - .env/common.env
    environment:
      - PORT=80
    build:
      context: ./emailtemplate
      args:
        COMMIT_SHA: "emailtemplate-no-commit"
        VERSION: "0.0.0-test"

  emailservice:
    env_file:
      # specify SMTP_HOSTNAME
      # specify SMTP_PORT
      # specify SMTP_USERNAME
      # specify SMTP_PASSWORD
      - .env/email.env
      - .env/common.env
    environment:
      - PORT=80
      - LOGGER_ENVIRONMENT=development
    build:
      context: ./email
      args:
        COMMIT_SHA: "email-no-commit"
        VERSION: "0.0.0-test"

  gateway:
    image: "nginx"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./gateway/certs:/etc/certs
      - ./gateway/services:/etc/nginx/services
    depends_on:
      - currencyservice
      - authservice
      - realtimeservice
      - walletservice
      - moduleservice
      - productservice
      - emailtemplateservice
      - emailservice
