services:
  # redis:
  #   image: "redis:alpine"

  currencyservice:
    env_file:
      # specify DATABASE_URL
      # specify EXCHANGE_RATE_API_KEY
      - currency.env
    environment:
      - PORT=80
      - PAST_RATE_RETENTION=172800
    build:
      context: ./currency
      args:
        COMMIT_SHA: "currency-no-commit"
        VERSION: "0.0.0-test"

  authservice:
    env_file:
      # specify DATABASE_URL
      - auth.env
    environment:
      - PORT=80
      - ALLOW_ONLY_SAME_USER_AGENT=true
      - REMEMBER_ME_DURATION_SECONDS=2592000
      - DEFAULT_SESSION_DURATION_SECONDS=21600
      - MAIN_DOMAIN=api.autobar.ovh
      - SET_SECURE_COOKIES=false
    build:
      context: ./auth
      args:
        COMMIT_SHA: "auth-no-commit"
        VERSION: "0.0.0-test"

  realtimeservice:
    env_file:
      # specify REDIS_URL
      # specify AMQP_URL
      - realtime.env
    environment:
      - PORT=80
      - SSE_HEARTBEAT_INTERVAL=5
      - AUTH_SERVICE_URL=http://authservice
    build:
      context: ./realtime
      args:
        COMMIT_SHA: "realtime-no-commit"
        VERSION: "0.0.0-test"
    # depends_on:
    #   - redis

  gateway:
    image: "nginx"
    ports:
      - "4000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
