services:
  redis:
    image: "redis:alpine"

  currencyservice:
    env_file:
      # specify DATABASE_URL
      # specify EXCHANGE_RATE_API_KEY
      - currency.env
    environment:
      - PORT=80
      - PAST_RATE_RETENTION_SECONDS=172800
    build:
      context: ./currency
      args:
        COMMIT_SHA: "currency-no-commit"
        VERSION: "0.0.0-test"

  authservice:
    env_file:
      # specify DATABASE_URL
      - auth.env
    environment:
      - PORT=80
      - ALLOW_ONLY_SAME_USER_AGENT=true
      - REMEMBER_ME_DURATION_SECONDS=2592000
      - DEFAULT_SESSION_DURATION_SECONDS=21600
      - MAIN_DOMAIN=api.autobar.ovh
      - SET_SECURE_COOKIES=false
    build:
      context: ./auth
      args:
        COMMIT_SHA: "auth-no-commit"
        VERSION: "0.0.0-test"

  realtimeservice:
    env_file:
      # specify AMQP_URL
      - realtime.env
    environment:
      - PORT=80
      - SSE_HEARTBEAT_INTERVAL_SECONDS=5
      - AUTH_SERVICE_URL=http://authservice
      - REDIS_URL=redis://redis:6379
    build:
      context: ./realtime
      args:
        COMMIT_SHA: "realtime-no-commit"
        VERSION: "0.0.0-test"
    depends_on:
      - redis

  walletservice:
    env_file:
      # specify DATABASE_URL
      - wallet.env
    environment:
      - PORT=80
      - CURRENCY_SERVICE_URL=http://currencyservice
      - REDIS_URL=redis://redis:6379
    build:
      context: ./wallet
      args:
        COMMIT_SHA: "wallet-no-commit"
        VERSION: "0.0.0-test"
    depends_on:
      - redis

  moduleservice:
    env_file:
      # specify DATABASE_URL
      # specify AMQP_URL
      - module.env
    environment:
      - PORT=80
      - AUTH_SERVICE_URL=http://authservice
      - REALTIME_SERVICE_URL=http://realtimeservice
      - MODULE_REPORT_TIMEOUT_SECONDS=10
    build:
      context: ./module
      args:
        COMMIT_SHA: "module-no-commit"
        VERSION: "0.0.0-test"

  gateway:
    image: "caddy:alpine"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - currencyservice
      - authservice
      - realtimeservice
      - walletservice
      - moduleservice
